$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-four: #f6f6f6;
$color-five: #f5edff;
$color-six: #353535;
$color-seven: #7e7e7e;
$color-eight: #fff;
$color-header-primary: #cfcfcf;
$color-header-secondary: #eaeaea;
$font-title: "Shrikhand", cursive;
$font-text: "Roboto", sans-serif;
$font-weith: 100;
$font-size-h1: 2rem;
$font-size-h2: 2rem;
$intensity-color: (
  ligthen-color-primary:
    lighten(
      $color: $color-primary,
      $amount: 35%,
    ),
  ligthen-color-seven:
    lighten(
      $color: $color-seven,
      $amount: 35%,
    ),
  darken-color-tertiary:
    darken(
      $color: $color-tertiary,
      $amount: 50%,
    ),
);
$font: (
  familly: $font-title,
  familly-logo: $font-title,
  text: $font-text,
  weith: 600,
  font-size-h1: $font-size-h1,
  font-size-h2: $font-size-h2,
);
/*
@mixin btn {
  width: auto;
  margin: auto;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(to top left, $color-primary, $color-secondary);
  color: $color-eight;
  font-weight: 400;
  font-size: 1.3rem;
  box-shadow: map-get($map: $intensity-color, $key: ligthen-color-seven) 0px 5px
    5px;
}
*/
@mixin margin {
  width: 1200px;
}
@function multi($nb) {
  $resultat: $nb * 1.5;
  @return $resultat;
}
@function multi-default($nb) {
  $resultat: $nb * 1;
  @return $resultat;
}

$multi: (
  multi-width: multi(334),
  multi-height: multi(174),
  multi-width-default: multi-default(334),
  multi-height-default: multi-default(174),
);

@mixin cards-img {
  width: map-get($map: $multi, $key: multi-width) + px;
  height: map-get($map: $multi, $key: multi-height) + px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

@mixin cards {
  justify-self: center;
  background-color: $color-eight;
  border-radius: 15px;
  height: 370px;
}

/*
si mon écran est max-width:1024px alors width 334

@mixin ($multi:multi){
  @if max-width:1024
  alors @function multi($nb) {
  $resultat: $nb * 1.5;
  @return $resultat;
}
  @else 
*/

@media screen and (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }
}

@mixin footer {
  margin-top: 50px;
  background-color: #353535;
  &__child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin: auto;
    @include margin;
    color: $color-eight;
    font-size: map-get($map: $font, $key: font-size);
    &__logo {
      &__img {
        font-family: map-get($map: $font, $key: familly-logo);
      }
    }
    &__text {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 400;
      & i {
        margin-right: 20px;
      }
      &:nth-child(2) {
        @media screen and (max-width: 1280px) {
          grid-row: 2;
          grid-column: 1;
        }
        @media screen and (max-width: 768px) {
          line-height: 0px;
        }
      }
      &:nth-child(3) {
        @media screen and (max-width: 1280px) {
          grid-row: 3;
          grid-column: 1;
        }
        @media screen and (max-width: 768px) {
          line-height: 0px;
        }
      }
      &:nth-child(4) {
        @media screen and (max-width: 1280px) {
          grid-row: 2;
          grid-column: 2;
          justify-self: right;
        }
        @media screen and (max-width: 768px) {
          line-height: 0px;
          display: block;
        }
      }
      &:nth-child(5) {
        @media screen and (max-width: 1280px) {
          grid-row: 3;
          grid-column: 2;
          justify-self: right;
        }
        @media screen and (max-width: 768px) {
          line-height: 40px;
          display: block;
          margin: 0;
        }
      }
    }
    @media screen and (max-width: 1280px) {
      width: 90%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
    height: 310px;
    margin-top: 0;
    line-height: 0;
    padding-top: 20px;
  }
}

$breakpoints: (
  mobile-small: 375px,
  mobile-medium: 576px,
  mobile-large: 414px,
  tablet: 768px,
  tablet-large: 1024px,
  desktop: 1280px,
);

/*----------------------------------------------------------------*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-weight: map-get($font, weith);
}

a {
  text-decoration: none;
  color: black;
}

.bloc-page {
  &__loading-bg {
    width: 100%;
    height: 221%;
    background-color: $color-primary;
    opacity: 0;
    position: absolute;
    z-index: 200;
    animation: bg 3000ms ease-in-out forwards;
    @media screen and (max-width: 1280px) {
      height: 299%;
    }
    @media screen and (max-width: 1024px) {
      height: 203%;
    }
    @media screen and (max-width: 1024px) {
      height: 274%;
    }
  }
  &__loading-main {
    opacity: 0;
    position: fixed;
    z-index: 300;
    width: 50px;
    height: 50px;
    border: 10px $color-tertiary solid;
    border-radius: 50%;
    top: 40%;
    left: 48%;
    animation: spin 3000ms linear;
    @media screen and (max-width: 1024px) {
      top: 30%;
      left: 47%;
    }
    @media screen and (max-width: 768px) {
      top: 30%;
      left: 46%;
    }
    &__ball {
      position: relative;
      width: 50px;
      height: 50px;
      left: -10px;
      bottom: 10px;
      transform-origin: center;
      animation: spin 3000ms linear;
      border: 10px solid transparent;
      border-top-color: $color-primary;
      border-bottom-color: $color-secondary;
      border-radius: 50%;
    }
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes bg {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

.header {
  z-index: 100;
  background: linear-gradient(
    to bottom,
    $color-header-primary,
    $color-header-secondary 10%
  );
  position: fixed;
  width: 100%;
  @media screen and (max-width: 1280px) {
    position: relative;
  }
  @media screen and (max-width: 768px) {
    background: transparent;
  }
  &__child {
    display: flex;
    justify-content: space-between;
    margin: auto;
    @include margin;
    @media screen and (max-width: 1280px) {
      width: 90%;
    }
    @media screen and (max-width: 768px) {
      display: block;
      text-align: center;
      width: 100%;
    }
    &__title {
      font-family: $font-title;
      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }
    &__loc {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: center;
        background: linear-gradient(
          to bottom,
          $color-header-primary,
          $color-header-secondary 10%
        );
      }
      & p {
        margin-left: 20px;
      }
    }
  }
}

.section-introduction {
  width: 100%;
  background-color: $color-four;
  &__child {
    width: 50%;
    margin: auto;
    padding: 200px 200px;
    text-align: center;
    @media screen and (max-width: 576px) {
      width: 70%;
    }
    &__head {
      font-size: 2rem;
    }
    &__paragraphe {
      font-weight: 200;
      font-size: 1.5rem;
    }
    @media screen and (max-width: 1280px) {
      padding: 50px 0 90px 0;
    }
    &__btn {
      border-radius: 50px;
      background: linear-gradient(
        to top left,
        $color-primary,
        $color-secondary
      );
      border: none;
      padding: 4px 17px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      color: $color-eight;
      font-weight: 400;
      font-size: 1.3rem;
      box-shadow: map-get($map: $intensity-color, $key: ligthen-color-seven) 0px
        5px 5px;
      &:hover {
        border-radius: 50px;
        &::after {
          border-radius: 50px;
          opacity: 1;
        }
      }
      &::after {
        border-radius: 50px;
        content: "";
        position: absolute;
        box-shadow: 0px 0px 30px $color-seven;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          to top left,
          lighten($color-primary, 5%),
          lighten($color-secondary, 5%)
        );
        opacity: 0;
        z-index: -1;
        transition: opacity 550ms;
      }
    }
  }
}

.section-working {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 50px 0 50px 0;
  @include margin;
  @media screen and (max-width: 1280px) {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  @media screen and (max-width: 1024px) {
    display: grid;
    width: 334px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20px repeat(3, 1fr);
    row-gap: 30px;
    justify-items: center;
  }
  & .fa-circle {
    position: relative;
    color: $color-primary;
    font-size: 2rem;
    &--1 {
      left: -12px;
    }
    &--1::after {
      content: "1";
      position: absolute;
      color: white;
      left: 9px;
      top: 4px;
      font-family: $font-text;
      font-size: 1.5rem;
      font-weight: 400;
    }
    &--2 {
      left: -14px;
    }
    &--2::after {
      content: "2";
      position: absolute;
      color: white;
      left: 9px;
      top: 4px;
      font-family: $font-text;
      font-size: 1.5rem;
      font-weight: 400;
    }
    &--3 {
      left: -13px;
    }
    &--3::after {
      content: "3";
      position: absolute;
      color: white;
      left: 9px;
      top: 4px;
      font-family: $font-text;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
  & :nth-child(4) {
    background-color: map-get(
      $map: $intensity-color,
      $key: ligthen-color-primary
    );
    @media screen and (max-width: 1280px) {
      grid-row: 2;
      grid-column: 2;
    }
    @media screen and (max-width: 1024px) {
      grid-row: 4;
      grid-column: 1;
    }
  }
  & :nth-child(3) {
    @media screen and (max-width: 1024px) {
      grid-row: 3;
    }
  }
  & :nth-child(2) {
    @media screen and (max-width: 1024px) {
      grid-row: 2;
    }
  }
  & :nth-child(1) {
    @media screen and (max-width: 1024px) {
      grid-row: 1;
      justify-self: left;
    }
  }
  &__map {
    display: flex;
    align-items: center;
    background-color: $color-four;
    width: 280px;
    border-radius: 20px;
    box-shadow: map-get($map: $intensity-color, $key: ligthen-color-seven) 0px
      5px 5px;
    & p {
      margin-left: 20px;
      font-size: 1rem;
      @media screen and (max-width: 1024px) {
        font-size: 1.3rem;
        font-weight: 400;
      }
      @media screen and (max-width: 768px) {
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
    & .fa-mobile-alt,
    .fa-list-ul {
      color: $color-seven;
    }
    & .fa-store {
      color: $color-primary;
    }
    @media screen and (max-width: 1024px) {
      width: 335px;
    }
    @media screen and (max-width: 768px) {
      width: 322px;
      height: 75px;
    }
  }
}

.article {
  background-color: $color-four;
  width: 100%;
  height: auto;
  padding-top: 20px;
  &__child {
    display: grid;
    grid-template-rows: 80px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 50px;
    @include margin;
    &__head-h2 {
      @media screen and (max-width: 1280px) {
        grid-row: 1;
        grid-column: 1;
      }
      @media screen and (max-width: 768px) {
        justify-self: left;
      }
    }
    &__cards {
      &__new {
        position: absolute;
        margin-left: 400px;
        background-color: $color-tertiary;
        padding: 10px;
        border-radius: 5px;
        color: map-get($map: $intensity-color, $key: darken-color-tertiary);
        @media screen and (max-width: 1024px) {
          margin-left: 220px;
          width: 80px;
          text-align: center;
        }
        @media screen and (max-width: 768px) {
          grid-template-rows: 80px repeat(5, 1fr);
          grid-template-columns: 1fr;
        }
      }
      & .heart {
        width: 50px;
        height: 50px;
        position: relative;
        left: 450px;
        bottom: 60px;
        @media screen and (max-width: 1024px) {
          left: 295px;
          bottom: 50px;
        }
        & .far {
          font-size: 1.3rem;
          position: absolute;
          left: 2px;
          bottom: 27px;
        }
        & .fas {
          font-size: 1.5rem;
          z-index: 1;
          position: absolute;
          cursor: pointer;
          color: transparent;
          &:hover {
            background-image: -webkit-gradient(
              linear,
              left top,
              right top,
              color-stop(0.5, $color-primary),
              color-stop(1, $color-secondary)
            );
            background-image: gradient(
              linear,
              left top,
              right top,
              color-stop(0.5, $color-primary),
              color-stop(1, $color-secondary)
            );
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            font-size: 1.5rem;
          }
        }
      }
      &__img {
        @include cards-img;
        @media screen and (max-width: 1024px) {
          width: map-get($map: $multi, $key: multi-width-default) + px;
          height: map-get($map: $multi, $key: multi-height-default) + px;
        }
      }
      &__text {
        margin-left: 15px;
        & h3 {
          @media screen and (max-width: 1024px) {
            font-size: 1.2rem;
            line-height: 0.4rem;
          }
        }
        & p {
          font-size: 1.3rem;
          font-weight: 300;
          line-height: 0;
          @media screen and (max-width: 1024px) {
            font-size: 1.2rem;
          }
        }
      }
      &--citee {
        grid-row: 3;
        grid-column: 2;
        @include cards;
        @media screen and (max-width: 1280px) {
          grid-row: 4;
          grid-column: 1;
        }
        @media screen and (max-width: 1024px) {
          height: 251px;
          grid-row: 2;
          grid-column: 2;
        }
        @media screen and (max-width: 768px) {
          grid-row: 4;
          grid-column: 1;
        }
      }
      &--menilmontant {
        grid-row: 3;
        grid-column: 1;
        @include cards;
        @media screen and (max-width: 1280px) {
          grid-row: 2;
          grid-column: 1;
        }
        @media screen and (max-width: 1024px) {
          height: 251px;
          grid-row: 2;
          grid-column: 1;
        }
        @media screen and (max-width: 768px) {
          grid-row: 2;
          grid-column: 1;
        }
      }
      &--charonne {
        grid-row: 2;
        grid-column: 2;
        @include cards;
        @media screen and (max-width: 1280px) {
          grid-row: 3;
          grid-column: 1;
        }
        @media screen and (max-width: 1024px) {
          height: 251px;
        }
        @media screen and (max-width: 768px) {
          grid-row: 3;
          grid-column: 1;
        }
      }
      &--folie {
        grid-row: 2;
        grid-column: 1;
        @include cards;
        @media screen and (max-width: 1280px) {
          grid-row: 5;
          grid-column: 1;
        }
        @media screen and (max-width: 1024px) {
          height: 251px;
          grid-row: 3;
          grid-column: 2;
        }
        @media screen and (max-width: 768px) {
          grid-row: 5;
          grid-column: 1;
        }
      }
    }
    @media screen and (max-width: 1280px) {
      grid-template-rows: 80px repeat(4, 1fr);
      grid-template-columns: repeat(1, 1fr);
      height: auto;
      width: 90%;
      padding-bottom: 50px;
    }
    @media screen and (max-width: 1024px) {
      grid-template-rows: 20px repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-rows: 20px repeat(4, 1fr);
      grid-template-columns: 334px;
      justify-content: center;
    }
  }
}

.footer {
  margin-top: 50px;
  background-color: #353535;
  &__child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin: auto;
    @include margin;
    color: $color-eight;
    font-size: map-get($map: $font, $key: font-size);
    &__logo {
      &__img {
        font-family: map-get($map: $font, $key: familly-logo);
      }
    }
    &__text {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 400;
      & i {
        margin-right: 20px;
      }
      &:nth-child(2) {
        @media screen and (max-width: 1280px) {
          grid-row: 2;
          grid-column: 1;
        }
        @media screen and (max-width: 768px) {
          line-height: 0px;
        }
      }
      &:nth-child(3) {
        @media screen and (max-width: 1280px) {
          grid-row: 3;
          grid-column: 1;
        }
        @media screen and (max-width: 768px) {
          line-height: 0px;
        }
      }
      &:nth-child(4) {
        @media screen and (max-width: 1280px) {
          grid-row: 2;
          grid-column: 2;
          justify-self: right;
        }
        @media screen and (max-width: 768px) {
          line-height: 0px;
          display: block;
        }
      }
      &:nth-child(5) {
        @media screen and (max-width: 1280px) {
          grid-row: 3;
          grid-column: 2;
          justify-self: right;
        }
        @media screen and (max-width: 768px) {
          line-height: 40px;
          display: block;
          margin: 0;
        }
      }
    }
    @media screen and (max-width: 1280px) {
      width: 90%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @media screen and (max-width: 768px) {
      display: block;
      width: 334px;
    }
  }
  @media screen and (max-width: 768px) {
    height: 310px;
    margin-top: 0;
    line-height: 0;
    padding-top: 20px;
  }
}
