@import "sass/utils/_variables.scss";
@import "sass/base/_typography.scss";
@import "sass/utils/_mixins.scss";
@import "sass/utils/_functions.scss";
@import "sass/utils/_maps.scss";
@import "sass/layout/_footer.scss";
@import "sass/base/_base.scss";

.bloc-page {
  &__loading-bg {
    width: 100%;
    height: 217%;
    background-color: $color-six;
    opacity: 0;
    position: absolute;
    z-index: 1000;
    -webkit-animation: bg 3000ms ease-in-out forwards;
    animation: bg 3000ms ease-in-out forwards;
    @media screen and (max-width: map-get($breakpoints, desktop)) {
      height: 297%;
    }
    @media screen and (max-width: map-get($breakpoints, tablet-large)) {
      height: 201%;
    }
    @media screen and (max-width: map-get($breakpoints, tablet)) {
      height: 317%;
    }
  }
  &__loading-main {
    opacity: 0;
    position: fixed;
    z-index: 300;
    width: 50px;
    height: 50px;
    border: 10px $color-tertiary solid;
    border-radius: 50%;
    top: 40%;
    left: 48%;
    -webkit-animation: spin 3000ms linear;
    animation: spin 3000ms linear;
    @media screen and (max-width: map-get($breakpoints, desktop)) {
      top: 30%;
      left: 47%;
    }
    @media screen and (max-width: map-get($breakpoints, tablet)) {
      top: 50%;
      left: 43%;
    }
    &__ball {
      position: relative;
      width: 50px;
      height: 50px;
      left: -10px;
      bottom: 10px;
      transform-origin: center;
      -webkit-animation: spin 3000ms linear;
      animation: spin 3000ms linear;
      border: 10px solid transparent;
      border-top-color: $color-primary;
      border-bottom-color: $color-secondary;
      border-radius: 50%;
    }
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes bg {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes bg {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

.header {
  z-index: 100;
  background: linear-gradient(
    to bottom,
    $color-header-primary,
    $color-header-secondary 10%
  );
  position: fixed;
  width: 100%;
  @media screen and (max-width: map-get($breakpoints, desktop)) {
    position: relative;
  }
  @media screen and (max-width: map-get($breakpoints, tablet)) {
    background: transparent;
  }
  &__child {
    display: flex;
    justify-content: space-between;
    margin: auto;
    @include margin;
    @media screen and (max-width: map-get($breakpoints, desktop)) {
      width: 90%;
    }
    @media screen and (max-width: map-get($breakpoints, tablet)) {
      display: block;
      text-align: center;
      width: 100%;
    }
    &__title {
      font-family: $font-title;
      @media screen and (max-width: map-get($breakpoints, tablet)) {
        margin-top: 0;
      }
    }
    &__loc {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      @media screen and (max-width: map-get($breakpoints, tablet)) {
        width: 100%;
        justify-content: center;
        background: linear-gradient(
          to bottom,
          $color-header-primary,
          $color-header-secondary 10%
        );
      }
      & p {
        margin-left: 20px;
      }
    }
  }
}

.section-introduction {
  width: 100%;
  background-color: $color-four;
  &__child {
    width: 50%;
    margin: auto;
    padding: 200px 200px;
    text-align: center;
    @media screen and (max-width: map-get($breakpoints, mobile-medium)) {
      width: 70%;
    }
    &__head {
      font-size: 2rem;
    }
    &__paragraphe {
      font-weight: 200;
      font-size: 1.5rem;
    }
    @media screen and (max-width: map-get($breakpoints, desktop)) {
      padding: 50px 0 90px 0;
    }
    &__btn {
      border-radius: 50px;
      background: linear-gradient(
        to top left,
        $color-primary,
        $color-secondary
      );
      border: none;
      padding: 20px 17px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      color: $color-eight;
      font-weight: 400;
      font-size: 1.3rem;
      box-shadow: map-get($map: $intensity-color, $key: ligthen-color-seven) 0px
        5px 5px;
      &:hover {
        border-radius: 50px;
        &::after {
          border-radius: 50px;
          opacity: 1;
        }
      }
      &::after {
        border-radius: 50px;
        content: "";
        position: absolute;
        box-shadow: 0px 0px 30px $color-seven;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          to top left,
          lighten($color-primary, 5%),
          lighten($color-secondary, 5%)
        );
        opacity: 0;
        z-index: -1;
        transition: opacity 550ms;
      }
    }
  }
}

.section-working {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 50px 0 50px 0;
  @include margin;
  @media screen and (max-width: map-get($breakpoints, desktop)) {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  @media screen and (max-width: map-get($breakpoints, tablet-large)) {
    display: grid;
    width: 334px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20px repeat(3, 1fr);
    row-gap: 30px;
    justify-items: center;
  }
  & .fa-circle {
    position: relative;
    color: $color-primary;
    font-size: 2rem;
    &--1 {
      left: -12px;
    }
    &--1::after {
      content: "1";
      position: absolute;
      color: white;
      left: 9px;
      top: 4px;
      font-family: $font-text;
      font-size: 1.5rem;
      font-weight: 400;
    }
    &--2 {
      left: -14px;
    }
    &--2::after {
      content: "2";
      position: absolute;
      color: white;
      left: 9px;
      top: 4px;
      font-family: $font-text;
      font-size: 1.5rem;
      font-weight: 400;
    }
    &--3 {
      left: -13px;
    }
    &--3::after {
      content: "3";
      position: absolute;
      color: white;
      left: 9px;
      top: 4px;
      font-family: $font-text;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
  & :nth-child(4) {
    background-color: map-get(
      $map: $intensity-color,
      $key: ligthen-color-primary
    );
    @media screen and (max-width: map-get($breakpoints, desktop)) {
      grid-row: 2;
      grid-column: 2;
    }
    @media screen and (max-width: map-get($breakpoints, tablet-large)) {
      grid-row: 4;
      grid-column: 1;
    }
  }
  & :nth-child(3) {
    @media screen and (max-width: map-get($breakpoints, tablet-large)) {
      grid-row: 3;
    }
  }
  & :nth-child(2) {
    @media screen and (max-width: map-get($breakpoints, tablet-large)) {
      grid-row: 2;
    }
  }
  & :nth-child(1) {
    @media screen and (max-width: map-get($breakpoints, tablet-large)) {
      grid-row: 1;
      justify-self: left;
    }
  }
  &__map {
    display: flex;
    align-items: center;
    background-color: $color-four;
    width: 280px;
    border-radius: 20px;
    box-shadow: map-get($map: $intensity-color, $key: ligthen-color-seven) 0px
      5px 5px;
    & p {
      margin-left: 20px;
      font-size: 1rem;
      @media screen and (max-width: map-get($breakpoints, tablet-large)) {
        font-size: 1.3rem;
        font-weight: 400;
      }
      @media screen and (max-width: map-get($breakpoints, tablet)) {
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
    & .fa-mobile-alt,
    .fa-list-ul {
      color: $color-seven;
    }
    & .fa-store {
      color: $color-primary;
    }
    @media screen and (max-width: map-get($breakpoints, tablet-large)) {
      width: 335px;
    }
    @media screen and (max-width: map-get($breakpoints, tablet)) {
      width: 322px;
      height: 75px;
    }
  }
}

.article {
  background-color: $color-four;
  width: 100%;
  height: auto;
  padding-top: 20px;
  &__child {
    display: grid;
    grid-template-rows: 80px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 50px;
    @include margin;
    &__head-h2 {
      @media screen and (max-width: map-get($breakpoints, desktop)) {
        grid-row: 1;
        grid-column: 1;
      }
      @media screen and (max-width: map-get($breakpoints, tablet)) {
        justify-self: left;
      }
    }

    &__cards {
      &__new {
        position: absolute;
        margin-left: 400px;
        background-color: $color-tertiary;
        padding: 10px;
        border-radius: 5px;
        color: map-get($map: $intensity-color, $key: darken-color-tertiary);
        @media screen and (max-width: map-get($breakpoints, tablet-large)) {
          margin-left: 220px;
          width: 80px;
          text-align: center;
        }
        @media screen and (max-width: map-get($breakpoints, tablet)) {
          grid-template-rows: 80px repeat(5, 1fr);
          grid-template-columns: 1fr;
        }
      }
      &__img {
        @include cards-img;
        @media screen and (max-width: map-get($breakpoints, tablet-large)) {
          width: map-get($map: $multi, $key: multi-width-default) + px;
          height: map-get($map: $multi, $key: multi-height-default) + px;
        }
      }
      &__text {
        margin-left: 15px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 31px 27px;
        align-items: center;
        @media screen and (max-width: map-get($breakpoints, tablet-large)) {
          margin-top: 4px;
          grid-template-columns: 252px 1fr;
        }
        & :nth-child(2) {
          grid-row: 2;
          grid-column: 1;
        }
        & h3 {
          @media screen and (max-width: map-get($breakpoints, tablet-large)) {
            font-size: 1rem;
          }
        }
        & p {
          font-size: 1.1rem;
          font-weight: 300;
          line-height: 0;
          @media screen and (max-width: map-get($breakpoints, tablet-large)) {
            font-size: 1rem;
          }
        }
      }
      &--citee {
        grid-row: 3;
        grid-column: 2;
        @include cards;
        @media screen and (max-width: map-get($breakpoints, desktop)) {
          grid-row: 4;
          grid-column: 1;
        }
        @media screen and (max-width: map-get($breakpoints, tablet-large)) {
          height: 251px;
          grid-row: 2;
          grid-column: 2;
        }
        @media screen and (max-width: map-get($breakpoints, tablet)) {
          grid-row: 4;
          grid-column: 1;
        }
      }
      &--menilmontant {
        grid-row: 3;
        grid-column: 1;
        @include cards;
        @media screen and (max-width: map-get($breakpoints, desktop)) {
          grid-row: 2;
          grid-column: 1;
        }
        @media screen and (max-width: map-get($breakpoints, tablet-large)) {
          height: 251px;
          grid-row: 2;
          grid-column: 1;
        }
        @media screen and (max-width: map-get($breakpoints, tablet)) {
          grid-row: 2;
          grid-column: 1;
        }
      }
      &--charonne {
        grid-row: 2;
        grid-column: 2;
        @include cards;
        @media screen and (max-width: map-get($breakpoints, desktop)) {
          grid-row: 3;
          grid-column: 1;
        }
        @media screen and (max-width: map-get($breakpoints, tablet-large)) {
          height: 251px;
        }
        @media screen and (max-width: map-get($breakpoints, tablet)) {
          grid-row: 3;
          grid-column: 1;
        }
      }
      &--folie {
        grid-row: 2;
        grid-column: 1;
        @include cards;
        @media screen and (max-width: map-get($breakpoints, desktop)) {
          grid-row: 5;
          grid-column: 1;
        }
        @media screen and (max-width: map-get($breakpoints, tablet-large)) {
          height: 251px;
          grid-row: 3;
          grid-column: 2;
        }
        @media screen and (max-width: map-get($breakpoints, tablet)) {
          grid-row: 5;
          grid-column: 1;
        }
      }
      & .heart-test {
        display: block;
        height: 40px;
        width: 50px;
        position: relative;
        left: 90%;
        top: -13%;
        z-index: 99;
        @media screen and (max-width: map-get($breakpoints, tablet-large)) {
          left: 87%;
          top: -20%;
        }
        &::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 200;
          content: "\f004";
          position: absolute;
          font-size: 1.7rem;
          z-index: 4;
          top: -1px;
        }
        &__fill {
          display: block;
          height: 31px;
          left: 0px;
          overflow: hidden;
          position: absolute;
          top: 0px;
          width: 32px;
          z-index: 3;
          transition: height 2s ease-in-out;
          -webkit-transition: height 2s ease-in-out;
          &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f004";
            position: absolute;
            font-size: 1.7rem;
            color: white;
          }
        }
        & .fa-heart {
          position: absolute;
          margin-left: 0px;
          font-size: 1.7rem;
          background: linear-gradient(
            to top left,
            lighten($color-primary, 5%),
            lighten($color-secondary, 5%)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &:hover .heart-test__fill {
          height: 0px;
          pointer-events: unset;
        }
      }
    }
    @media screen and (max-width: map-get($breakpoints, desktop)) {
      grid-template-rows: 80px repeat(4, 1fr);
      grid-template-columns: repeat(1, 1fr);
      height: auto;
      width: 90%;
      padding-bottom: 50px;
    }
    @media screen and (max-width: map-get($breakpoints, tablet-large)) {
      grid-template-rows: 20px repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: map-get($breakpoints, tablet)) {
      grid-template-rows: 20px repeat(4, 1fr);
      grid-template-columns: 334px;
      justify-content: center;
    }
  }
}
