@charset "UTF-8";
/*
@mixin btn {
  width: auto;
  margin: auto;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(to top left, $color-primary, $color-secondary);
  color: $color-eight;
  font-weight: 400;
  font-size: 1.3rem;
  box-shadow: map-get($map: $intensity-color, $key: ligthen-color-seven) 0px 5px
    5px;
}
*/
/*
si mon écran est max-width:1024px alors width 334

@mixin ($multi:multi){
  @if max-width:1024
  alors @function multi($nb) {
  $resultat: $nb * 1.5;
  @return $resultat;
}
  @else 
*/
@media screen and (max-width: 1024px) {
  html,
body {
    overflow-x: hidden;
  }
}
/*----------------------------------------------------------------*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.bloc-page__loading-bg {
  width: 100%;
  height: 221%;
  background-color: #9356dc;
  opacity: 0;
  position: absolute;
  z-index: 200;
  animation: bg 3000ms ease-in-out forwards;
}
@media screen and (max-width: 1280px) {
  .bloc-page__loading-bg {
    height: 299%;
  }
}
@media screen and (max-width: 1024px) {
  .bloc-page__loading-bg {
    height: 203%;
  }
}
@media screen and (max-width: 1024px) {
  .bloc-page__loading-bg {
    height: 274%;
  }
}
.bloc-page__loading-main {
  opacity: 0;
  position: fixed;
  z-index: 300;
  width: 50px;
  height: 50px;
  border: 10px #99e2d0 solid;
  border-radius: 50%;
  top: 40%;
  left: 48%;
  animation: spin 3000ms linear;
}
@media screen and (max-width: 1024px) {
  .bloc-page__loading-main {
    top: 30%;
    left: 47%;
  }
}
@media screen and (max-width: 768px) {
  .bloc-page__loading-main {
    top: 30%;
    left: 46%;
  }
}
.bloc-page__loading-main__ball {
  position: relative;
  width: 50px;
  height: 50px;
  left: -10px;
  bottom: 10px;
  transform-origin: center;
  animation: spin 3000ms linear;
  border: 10px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #ff79da;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes bg {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.header {
  z-index: 100;
  background: linear-gradient(to bottom, #cfcfcf, #eaeaea 10%);
  position: fixed;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .header {
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .header {
    background: transparent;
  }
}
.header__child {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1200px;
}
@media screen and (max-width: 1280px) {
  .header__child {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .header__child {
    display: block;
    text-align: center;
    width: 100%;
  }
}
.header__child__title {
  font-family: "Shrikhand", cursive;
}
@media screen and (max-width: 768px) {
  .header__child__title {
    margin-top: 0;
  }
}
.header__child__loc {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .header__child__loc {
    width: 100%;
    justify-content: center;
    background: linear-gradient(to bottom, #cfcfcf, #eaeaea 10%);
  }
}
.header__child__loc p {
  margin-left: 20px;
}

.section-introduction {
  width: 100%;
  background-color: #f6f6f6;
}
.section-introduction__child {
  width: 50%;
  margin: auto;
  padding: 200px 200px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .section-introduction__child {
    width: 70%;
  }
}
.section-introduction__child__head {
  font-size: 2rem;
}
.section-introduction__child__paragraphe {
  font-weight: 200;
  font-size: 1.5rem;
}
@media screen and (max-width: 1280px) {
  .section-introduction__child {
    padding: 50px 0 90px 0;
  }
}
.section-introduction__child__btn {
  border-radius: 50px;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border: none;
  padding: 4px 17px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
  box-shadow: #d7d7d7 0px 5px 5px;
}
.section-introduction__child__btn:hover {
  border-radius: 50px;
}
.section-introduction__child__btn:hover::after {
  border-radius: 50px;
  opacity: 1;
}
.section-introduction__child__btn::after {
  border-radius: 50px;
  content: "";
  position: absolute;
  box-shadow: 0px 0px 30px #7e7e7e;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  opacity: 0;
  z-index: -1;
  transition: opacity 550ms;
}

.section-working {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 50px 0 50px 0;
  width: 1200px;
}
@media screen and (max-width: 1280px) {
  .section-working {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .section-working {
    display: grid;
    width: 334px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20px repeat(3, 1fr);
    row-gap: 30px;
    justify-items: center;
  }
}
.section-working .fa-circle {
  position: relative;
  color: #9356dc;
  font-size: 2rem;
}
.section-working .fa-circle--1 {
  left: -12px;
}
.section-working .fa-circle--1::after {
  content: "1";
  position: absolute;
  color: white;
  left: 9px;
  top: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.section-working .fa-circle--2 {
  left: -14px;
}
.section-working .fa-circle--2::after {
  content: "2";
  position: absolute;
  color: white;
  left: 9px;
  top: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.section-working .fa-circle--3 {
  left: -13px;
}
.section-working .fa-circle--3::after {
  content: "3";
  position: absolute;
  color: white;
  left: 9px;
  top: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.section-working :nth-child(4) {
  background-color: #f2eafb;
}
@media screen and (max-width: 1280px) {
  .section-working :nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }
}
@media screen and (max-width: 1024px) {
  .section-working :nth-child(4) {
    grid-row: 4;
    grid-column: 1;
  }
}
@media screen and (max-width: 1024px) {
  .section-working :nth-child(3) {
    grid-row: 3;
  }
}
@media screen and (max-width: 1024px) {
  .section-working :nth-child(2) {
    grid-row: 2;
  }
}
@media screen and (max-width: 1024px) {
  .section-working :nth-child(1) {
    grid-row: 1;
    justify-self: left;
  }
}
.section-working__map {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 280px;
  border-radius: 20px;
  box-shadow: #d7d7d7 0px 5px 5px;
}
.section-working__map p {
  margin-left: 20px;
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  .section-working__map p {
    font-size: 1.3rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 768px) {
  .section-working__map p {
    font-size: 1.1rem;
    font-weight: 400;
  }
}
.section-working__map .fa-mobile-alt,
.section-working__map .fa-list-ul {
  color: #7e7e7e;
}
.section-working__map .fa-store {
  color: #9356dc;
}
@media screen and (max-width: 1024px) {
  .section-working__map {
    width: 335px;
  }
}
@media screen and (max-width: 768px) {
  .section-working__map {
    width: 322px;
    height: 75px;
  }
}

.article {
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  padding-top: 20px;
}
.article__child {
  display: grid;
  grid-template-rows: 80px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 50px;
  width: 1200px;
}
@media screen and (max-width: 1280px) {
  .article__child__head-h2 {
    grid-row: 1;
    grid-column: 1;
  }
}
@media screen and (max-width: 768px) {
  .article__child__head-h2 {
    justify-self: left;
  }
}
.article__child__cards__new {
  position: absolute;
  margin-left: 400px;
  background-color: #99e2d0;
  padding: 10px;
  border-radius: 5px;
  color: #1b6150;
}
@media screen and (max-width: 1024px) {
  .article__child__cards__new {
    margin-left: 220px;
    width: 80px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .article__child__cards__new {
    grid-template-rows: 80px repeat(5, 1fr);
    grid-template-columns: 1fr;
  }
}
.article__child__cards .heart {
  width: 50px;
  height: 50px;
  position: relative;
  left: 450px;
  bottom: 60px;
}
@media screen and (max-width: 1024px) {
  .article__child__cards .heart {
    left: 295px;
    bottom: 50px;
  }
}
.article__child__cards .heart .far {
  font-size: 1.3rem;
  position: absolute;
  left: 2px;
  bottom: 27px;
}
.article__child__cards .heart .fas {
  font-size: 1.5rem;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  color: transparent;
}
.article__child__cards .heart .fas:hover {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, #9356dc), color-stop(1, #ff79da));
  background-image: gradient(linear, left top, right top, color-stop(0.5, #9356dc), color-stop(1, #ff79da));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.5rem;
}
.article__child__cards__img {
  width: 501px;
  height: 261px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
@media screen and (max-width: 1024px) {
  .article__child__cards__img {
    width: 334px;
    height: 174px;
  }
}
.article__child__cards__text {
  margin-left: 15px;
}
@media screen and (max-width: 1024px) {
  .article__child__cards__text h3 {
    font-size: 1.2rem;
    line-height: 0.4rem;
  }
}
.article__child__cards__text p {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 0;
}
@media screen and (max-width: 1024px) {
  .article__child__cards__text p {
    font-size: 1.2rem;
  }
}
.article__child__cards--citee {
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
  background-color: #fff;
  border-radius: 15px;
  height: 370px;
}
@media screen and (max-width: 1280px) {
  .article__child__cards--citee {
    grid-row: 4;
    grid-column: 1;
  }
}
@media screen and (max-width: 1024px) {
  .article__child__cards--citee {
    height: 251px;
    grid-row: 2;
    grid-column: 2;
  }
}
@media screen and (max-width: 768px) {
  .article__child__cards--citee {
    grid-row: 4;
    grid-column: 1;
  }
}
.article__child__cards--menilmontant {
  grid-row: 3;
  grid-column: 1;
  justify-self: center;
  background-color: #fff;
  border-radius: 15px;
  height: 370px;
}
@media screen and (max-width: 1280px) {
  .article__child__cards--menilmontant {
    grid-row: 2;
    grid-column: 1;
  }
}
@media screen and (max-width: 1024px) {
  .article__child__cards--menilmontant {
    height: 251px;
    grid-row: 2;
    grid-column: 1;
  }
}
@media screen and (max-width: 768px) {
  .article__child__cards--menilmontant {
    grid-row: 2;
    grid-column: 1;
  }
}
.article__child__cards--charonne {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
  background-color: #fff;
  border-radius: 15px;
  height: 370px;
}
@media screen and (max-width: 1280px) {
  .article__child__cards--charonne {
    grid-row: 3;
    grid-column: 1;
  }
}
@media screen and (max-width: 1024px) {
  .article__child__cards--charonne {
    height: 251px;
  }
}
@media screen and (max-width: 768px) {
  .article__child__cards--charonne {
    grid-row: 3;
    grid-column: 1;
  }
}
.article__child__cards--folie {
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  background-color: #fff;
  border-radius: 15px;
  height: 370px;
}
@media screen and (max-width: 1280px) {
  .article__child__cards--folie {
    grid-row: 5;
    grid-column: 1;
  }
}
@media screen and (max-width: 1024px) {
  .article__child__cards--folie {
    height: 251px;
    grid-row: 3;
    grid-column: 2;
  }
}
@media screen and (max-width: 768px) {
  .article__child__cards--folie {
    grid-row: 5;
    grid-column: 1;
  }
}
@media screen and (max-width: 1280px) {
  .article__child {
    grid-template-rows: 80px repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    width: 90%;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .article__child {
    grid-template-rows: 20px repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .article__child {
    grid-template-rows: 20px repeat(4, 1fr);
    grid-template-columns: 334px;
    justify-content: center;
  }
}

.footer {
  margin-top: 50px;
  background-color: #353535;
}
.footer__child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin: auto;
  width: 1200px;
  color: #fff;
}
.footer__child__logo__img {
  font-family: "Shrikhand", cursive;
}
.footer__child__text {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
}
.footer__child__text i {
  margin-right: 20px;
}
@media screen and (max-width: 1280px) {
  .footer__child__text:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
}
@media screen and (max-width: 768px) {
  .footer__child__text:nth-child(2) {
    line-height: 0px;
  }
}
@media screen and (max-width: 1280px) {
  .footer__child__text:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
  }
}
@media screen and (max-width: 768px) {
  .footer__child__text:nth-child(3) {
    line-height: 0px;
  }
}
@media screen and (max-width: 1280px) {
  .footer__child__text:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
    justify-self: right;
  }
}
@media screen and (max-width: 768px) {
  .footer__child__text:nth-child(4) {
    line-height: 0px;
    display: block;
  }
}
@media screen and (max-width: 1280px) {
  .footer__child__text:nth-child(5) {
    grid-row: 3;
    grid-column: 2;
    justify-self: right;
  }
}
@media screen and (max-width: 768px) {
  .footer__child__text:nth-child(5) {
    line-height: 40px;
    display: block;
    margin: 0;
  }
}
@media screen and (max-width: 1280px) {
  .footer__child {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .footer__child {
    display: block;
    width: 334px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    height: 310px;
    margin-top: 0;
    line-height: 0;
    padding-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
