html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-weight: map-get($font, weith);
  @media screen and (max-width: map-get($breakpoints, tablet-large)) {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
  color: $color-six;
}
