$font-title: "Shrikhand", cursive;
$font-text: "Roboto", sans-serif;
$font-weith: 100;
$font-size-h1: 2rem;
$font-size-h2: 2rem;
$font: (
  familly: $font-title,
  familly-logo: $font-title,
  text: $font-text,
  weith: 600,
  font-size-h1: $font-size-h1,
  font-size-h2: $font-size-h2,
);
