$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-four: #f6f6f6;
$color-five: #f5edff;
$color-six: #353535;
$color-seven: #7e7e7e;
$color-eight: #fff;
$color-header-primary: #cfcfcf;
$color-header-secondary: #eaeaea;
$font-title: "Shrikhand", cursive;
$font-text: "Roboto", sans-serif;
$font-weith: 100;
$font-size-h1: 2rem;
$font-size-h2: 2rem;
$intensity-color: (
  ligthen-color-primary:
    lighten(
      $color: $color-primary,
      $amount: 35%,
    ),
  ligthen-color-seven:
    lighten(
      $color: $color-seven,
      $amount: 35%,
    ),
  darken-color-tertiary:
    darken(
      $color: $color-tertiary,
      $amount: 50%,
    ),
);
$font: (
  familly: $font-title,
  familly-logo: $font-title,
  text: $font-text,
  weith: 300,
  font-size-h1: $font-size-h1,
  font-size-h2: $font-size-h2,
);
@mixin font-head {
  font-family: map-get($map: $font, $key: familly-logo);
  font-size: map-get($map: $font, $key: font-size-h1);
}
@mixin btn {
  width: auto;
  margin: auto;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(to top left, $color-primary, $color-secondary);
  color: $color-eight;
  font-weight: 400;
  font-size: 1.3rem;
  box-shadow: map-get($map: $intensity-color, $key: ligthen-color-seven) 0px 5px
    5px;
}
@mixin margin {
  width: 1200px;
  margin: auto;
}
@function multi($nb) {
  $resultat: $nb * 3;
  @return $resultat;
}
@function multi-default($nb) {
  $resultat: $nb * 1;
  @return $resultat;
}

$multi: (
  multi-width: multi(334),
  multi-height: multi(174),
  multi-width-default: multi-default(334),
  multi-height-default: multi-default(174),
);

@mixin cards-img {
  width: map-get($map: $multi, $key: multi-width) + px;
  height: map-get($map: $multi, $key: multi-height) + px;
  object-fit: cover;
  border-radius: 50px 50px 0 0;
}

@mixin cards {
  justify-self: center;
  background-color: $color-eight;
  border-radius: 15px;
  height: 370px;
}

/*
si mon écran est max-width:1024px alors width 334

@mixin ($multi:multi){
  @if max-width:1024
  alors @function multi($nb) {
  $resultat: $nb * 1.5;
  @return $resultat;
}
  @else 
*/

@media screen and (max-width: 1000px) {
  html,
  body {
    overflow-x: hidden;
  }
}
$breakpoints: (
  mobile-small: 375px,
  mobile-medium: 576px,
  mobile-large: 414px,
  tablet: 768px,
  tablet-large: 1024px,
  desktop: 1280px,
);

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-weight: map-get($font, weith);
}

a {
  text-decoration: none;
  color: black;
}

.header {
  &__child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    height: 63px;
    &__head {
      width: 196px;
      height: 34px;
    }
    &__arrow {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 992px) {
      width: 80%;
    }
  }
}

.background-meal {
  height: 800px;
  background: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: -1;
  @media screen and (max-width: 768px) {
    height: 600px;
  }
  @media screen and (max-width: 576px) {
    height: 400px;
  }
  @media screen and (max-width: 375px) {
    height: 290px;
  }
}

.menu {
  background-color: $color-four;
  width: 1002px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 700px;
  border-radius: 60px 60px 0 0;
  height: 1500px;
  @media screen and (max-width: 992px) {
    width: 100%;
    margin-top: 638px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 480px;
  }
  @media screen and (max-width: 576px) {
    margin-top: 320px;
  }
  @media screen and (max-width: 375px) {
    margin-top: 235px;
  }
  &__head {
    display: flex;
    align-items: center;
    width: 93%;
    margin: auto;
    justify-content: space-between;
    & h1 {
      @include font-head;
    }
    & i {
      font-size: 2rem;
    }
    & .heart-test {
      display: block;
      height: 34px;
      width: 31px;
      position: relative;
      left: 0%;
      top: -16%;
      @media screen and (max-width: 1024px) {
        left: 85%;
        top: -19%;
      }
      @media screen and (max-width: 992px) {
        left: 85%;
        top: -20%;
      }
      &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 200;
        content: "\f004";
        position: absolute;
        font-size: 2rem;
        z-index: 4;
      }
      &__fill {
        display: block;
        height: 31px;
        left: 0px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        width: 32px;
        z-index: 3;
        transition: height 2s ease-in-out;
        &::before,
        &::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f004";
          position: absolute;
          font-size: 2rem;
          color: white;
        }
      }
      & .fa-heart {
        position: absolute;
        margin-left: 0px;
        font-size: 2rem;
        background: linear-gradient(
          to top left,
          lighten($color-primary, 5%),
          lighten($color-secondary, 5%)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:hover .heart-test__fill {
        height: 0px;
      }
    }
  }
  .menu__meal {
    width: 93%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px repeat(3, 1fr);
    &__btn {
      display: flex;
      align-items: center;
      padding-left: 60px;
      width: 240px;
      margin: 50px auto 0 auto;
      text-align: center;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      z-index: 1;
      background: linear-gradient(
        to top left,
        $color-primary,
        $color-secondary
      );
      color: $color-eight;
      font-weight: 400;
      font-size: 1.3rem;
      -webkit-box-shadow: map-get(
          $map: $intensity-color,
          $key: ligthen-color-seven
        )
        0px 5px 5px;
      box-shadow: map-get($map: $intensity-color, $key: ligthen-color-seven) 0px
        5px 5px;
      &:hover {
        &::after {
          -webkit-opacity: 1;
          opacity: 1;
        }
      }
      &::after {
        content: "";
        display: inline-block;
        position: relative;
        padding: 33px 120px;
        left: -174px;
        border-radius: 50px;
        background: linear-gradient(
          to top left,
          lighten($color-primary, 5%),
          lighten($color-secondary, 5%)
        );
        -webkit-box-shadow: 0px 0px 30px $color-seven;
        box-shadow: 0px 0px 30px $color-seven;
        -webkit-opacity: 0;
        opacity: 0;
        z-index: -1;
        -webkit-transition: opacity 550ms;
        transition: opacity 550ms;
        border-radius: 50px;
      }
    }
    &__head {
      border-bottom: 4px $color-tertiary solid;
      line-height: 10px;
      width: 60px;
      text-transform: uppercase;
      font-weight: 100;
    }
    &__cards {
      display: flex;
      background-color: $color-eight;
      margin-bottom: 25px;
      border-radius: 20px;
      height: 80px;
      min-width: 350px;
      box-shadow: 0 0 15px $color-seven;
      cursor: pointer;
      overflow: hidden;
      &__tick {
        height: 80px;
        width: 100px;
        border-radius: 0 20px 20px 0;
        background-color: $color-tertiary;
        transform: translate(101px);
        transition: 250ms ease-in-out;
        @media screen and (max-width: 992px) {
          left: 807px;
        }
        &::after {
          content: "25€";
          display: block;
          position: absolute;
          width: 37px;
          margin-top: 57px;
          padding-bottom: 4px;
          padding-left: 20px;
          top: -10px;
          left: -99px;
          font-weight: 500;
          transition: 250ms ease-in-out;
          z-index: 200;
          background-color: white;
        }
        & .fas {
          display: block;
          position: absolute;
          left: 31%;
          top: 32%;
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          content: "\f058";
          font-size: 2rem;
          color: white;
          text-align: center;
          z-index: 100;
        }
        &--velouté {
          &::before {
            @media screen and (max-width: 414px) {
              content: "...";
              display: block;
              position: relative;
              left: -80px;
              top: 46px;
              background-color: white;
              width: 25px;
              height: 100px;
              z-index: 100;
              font-weight: 700;
            }
          }
          &::after {
            content: "35€";
          }
        }
        &--soupe {
          &::after {
            content: "20€";
          }
        }
        &--coquilles {
          &::after {
            content: "40€";
          }
        }
        &--magret {
          &::before {
            @media screen and (max-width: 414px) {
              content: "...";
              display: block;
              position: relative;
              left: -77px;
              top: 46px;
              background-color: white;
              width: 25px;
              height: 100px;
              z-index: 100;
              font-weight: 700;
            }
          }
          &::after {
            content: "35€";
          }
        }
        &--pigeonneau {
          &::before {
            @media screen and (max-width: 443px) {
              content: "...";
              display: block;
              position: relative;
              left: -77px;
              top: 46px;
              background-color: white;
              width: 25px;
              height: 100px;
              z-index: 100;
              font-weight: 700;
            }
          }
          &::after {
            content: "44€";
          }
        }
        &--petales {
          &::after {
            content: "18€";
          }
        }
        &--fondant {
          &::after {
            content: "22€";
          }
        }
        &--coquilles {
          &::after {
            content: "40€";
          }
        }
        &--millefeuille {
          &::after {
            content: "23€";
          }
        }
      }
      & p {
        z-index: 100;
      }
      &__child {
        width: 96%;
        margin-left: 23px;
        padding-top: 10px;
        &:hover + .menu__meal__cards__tick {
          transform: translate(0px);
          &::after {
            transform: translate(40px);
          }
          & .fa-check-circle {
            animation: check 250ms linear forwards;
          }
        }
        &__head {
          line-height: 0;
        }
        & :nth-child(2) {
          grid-row: 2;
          grid-column: 1;
          line-height: 1;
        }
        & :nth-child(3) {
          grid-row: 2;
          grid-column: 2;
          justify-self: right;
          font-weight: 500;
          line-height: 0;
        }
      }
      &:nth-child(2) {
        opacity: 0;
        animation: cards-1 1000ms cubic-bezier(0, 1.08, 0.57, 1) forwards;
      }
      &:nth-child(3) {
        opacity: 0;
        animation: cards-2 1000ms 100ms cubic-bezier(0, 1.08, 0.57, 1) forwards;
      }
      &:nth-child(4) {
        opacity: 0;
        animation: cards-3 1000ms 200ms cubic-bezier(0, 1.08, 0.57, 1) forwards;
      }
    }
  }
}

@keyframes heart {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes check {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes cards-1 {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes cards-2 {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes cards-3 {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.footer {
  background-color: #353535;
  &__child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin: auto;
    @include margin;
    color: $color-eight;
    font-size: map-get($map: $font, $key: font-size);
    &__logo {
      &__img {
        font-family: map-get($map: $font, $key: familly-logo);
      }
    }
    &__text {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 400;
      & a {
        color: $color-eight;
      }
      & i {
        margin-right: 20px;
      }
      &:nth-child(2) {
        @media screen and (max-width: 1200px) {
          grid-row: 2;
          grid-column: 1;
        }
        @media screen and (max-width: 992px) {
          grid-row: 2;
          grid-column: 1;
        }
        @media screen and (max-width: 768px) {
          line-height: 0px;
        }
      }
      &:nth-child(3) {
        @media screen and (max-width: 1200px) {
          grid-row: 3;
          grid-column: 1;
        }
        @media screen and (max-width: 768px) {
          line-height: 0px;
        }
      }
      &:nth-child(4) {
        @media screen and (max-width: 1200px) {
          grid-row: 2;
          grid-column: 2;
          justify-self: right;
        }
        @media screen and (max-width: 768px) {
          line-height: 0px;
          display: block;
        }
      }
      &:nth-child(5) {
        @media screen and (max-width: 1200px) {
          grid-row: 3;
          grid-column: 2;
          justify-self: right;
        }
        @media screen and (max-width: 768px) {
          line-height: 40px;
          display: block;
          margin: 0;
        }
      }
    }
    @media screen and (max-width: 1200px) {
      width: 90%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
    height: 310px;
    margin-top: 0;
    line-height: 0;
    padding-top: 20px;
  }
}
